.color-picker {
    width: 800px;
    border-radius: 5px;
    overflow: hidden;
}

.color-picker .header {
    height: 40px;
    background: #00a0e8;
}

.color-picker .body {
    height: 460px;
    background: #fff;
}

.color-picker .info-panel {
    width: 240px;
    height: 100%;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, .3);
    user-select: initial;
    position: relative;
}

.color-picker .tips {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 40px;
    line-height: 40px;
    animation: tips-slide-down 3s;
    overflow: hidden;
    text-align: center;
    color: #fff;
}

.color-picker .tips.success {
    background-color: #60be29;
}

.color-picker .tips.fail {
    background: #e01515;
}

.color-picker .selected-color {
    width: 100px;
    height: 100px;
    margin: 60px auto 30px;
    background: #eee url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill-opacity=".25"><rect x="20" width="20" height="20" /><rect y="20" width="20" height="20" /></svg>');
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.color-picker .content-panel {
    position: relative;
    height: 100%;
    margin-left: 250px;
    overflow-y: scroll;
}

.color-picker .color-group {
    float: left;
    width: 150px;
    height: 150px;
    margin: 25px 0 0 25px;
}

.color-picker .color {
    float: left;
    width: 45px;
    height: 45px;
    margin: 0 5px 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

.color-picker .color:hover {
    transition: .3s;
    transform: scale(1.1);
}

@keyframes tips-slide-down {
    0% {
        height: 0;
    }

    16.67% {
        height: 40px;
    }

    83.33% {
        height: 40px;
    }

    100% {
        height: 0;
    }
}
