.launchpad {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: 99997;
}

.launchpad.component-enter {
    opacity: 0;
}

.launchpad.component-enter.component-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.launchpad.component-leave.component-leave-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.launchpad .bg-wrap {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background: url('../../images/sky.jpg');
    background-size: cover;
    filter: blur(20px);
    margin: -30px;
    z-index: -1;
}

.launchpad .body {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    padding: 50px 120px 72px 170px;
    z-index: 1;
}

.launchpad .appname {
    display: inline-block;
    margin-top: 5px;
    color: #ececec;
}

.launchpad .app-wrap {
    float: left;
    margin: 25px 35px;
    text-align: center;
}

.launchpad .appicon {
    width: 82px;
    height: 82px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 82px 82px;
    transition: .3s;
}

.launchpad .appicon.will-open {
    animation: appOpen .2s ease-out;
}
