.launchpad {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: 99997;
    animation: fadeIn .3s ease-in-out;
}

.launchpad.will-quit {
    animation: fadeOut .3s ease-in-out forwards;
}

.launchpad .bg-wrap {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background: url('../../../images/sky.jpg');
    background-size: cover;
    filter: blur(20px);
    margin: -30px;
    z-index: -1;
}

.launchpad .body {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1;
}

.launchpad .appname {
    display: inline-block;
    margin-top: 5px;
    color: #ececec;
}

.launchpad .app-wrap {
    position: absolute;
    text-align: center;
}

.launchpad .appicon {
    background-position: center;
    background-repeat: no-repeat;
    transition: .3s;
}

.launchpad .appicon.will-open {
    animation: appOpen .2s ease-out;
}
