.music {
    overflow: hidden;
    border-radius: 5px;
}

.music .cover {
    position: relative;
    width: 334px;
    height: 334px;
}

.music .intro {
    position: absolute;
    height: 52px;
    left: 0; top: 0; right: 0;
    background: #fff;
}

.music .control {
    position: absolute;
    height: 52px;
    left: 0; bottom: 0; right: 0;
    background: #fff;
}
