.intro {
    width: 320px;
    height: 480px;
    position: absolute;
    left: 40%;
    top: 20%;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    background: #fff;
    font-size: 12px;
}

.intro ::-webkit-scrollbar {
    width: 0;
}

.intro .scroll-wrap {
    height: 480px;
    overflow-y: scroll;
}

.intro .headicon {
    position: absolute;
    left: 50%;
    top: -12px;
    transform: translate(-50%, 0);
    width: 78px;
    height: 78px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
    background: url('./icon.png') center center no-repeat;
    background-size: 110% 110%;
}

.intro .name,
.intro .introduce,
.intro .social {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.intro .name {
    top: 90px;
    font-size: 24px;
    font-weight: bold;
}

.intro .introduce {
    top: 126px;
    color: rgba(0, 0, 0, .4);
}

.intro .social {
    top: 150px;
    font-size: 28px;
}

.intro .social a {
    margin: 0 10px;
}

.intro .more {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 5px;
    font-size: 1.8em;
    color: rgba(0, 0, 0, .4);
}

.intro .header{
    height: 190px;
    background: #ddeefe;
    border-radius: 5px;
}

.intro .basic {
    overflow: hidden;
}

.intro .basic .item {
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 10px 0;
}

.intro .basic .item .icon {
    margin: 0 auto;
    width: 32px;
    height: 32px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro .basic .item .sex {
    background-image: url('./male.png');
}

.intro .basic .item .dog {
    background-image: url('./dog.png');
}

.intro .basic .item .sagittarius {
    background-image: url('./sagittarius.png');
}

.intro .basic .item .text {
    line-height: 32px;
    height: 32px;
    font-size: 24px;
}

.intro .basic .item .age {
    color: #46c9fa;
}

.intro .basic .item .blood {
    color: #fd9b7a;
}

.intro .basic .item .birth {
    color: #f97d83;
}

.intro .basic .item .month {
    letter-spacing: 3px;
}

.intro .basic .item .day {
    border-left: 1px solid #eee;
    margin-left: 3px;
    padding-left: 5px;
    font-size: 12px;
    letter-spacing: 1px;
}

.intro .basic .item .desc {
    margin-top: 5px;
}

.intro .details {
    margin: 10px 20px;
    padding: 8px 0;
    border-top: 1px solid #eee;
}

.intro .details .group {
    margin-bottom: 2.5em;
}

.intro .details .item {
    margin-top: 15px;
}

.intro .details .desc {
    color: rgba(0, 0, 0, .4);
    width: 3em;
    display: inline-block;
}
