html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue, PingFang SC, Microsoft Yahei, '\5FAE\8F6F\96C5\9ED1', STXihei, '\534E\6587\7EC6\9ED1', sans-serif";
    font-size: 14px;
    background-color: #000;
}

html, body, #root, .App {
    height: 100%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

body{
    user-select: none;
}

.App {
    position: relative;
    overflow: hidden;
}

a:active, a:link, a:visited, a:hover {
    color: inherit;
}

.text-center {
    text-align: center;
}

.default-header {
    background: linear-gradient(#f0f0f0, #d5d5d5);
}

/* 全屏模式 */
.full-screen {
    transition: .5s;
}

@keyframes appOpen {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0.5;
        transform: scale(1.8);
    }
}
